* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    overflow-x: hidden;
}

.logo-max {
    background-image: url("https://iliusstu-a.akamaihd.net/www.meetic.fr/hpv/pinkwhite-44d5e901294.svg");
}

.header-container {
    width: 100%;
    margin: 0;
    padding: 20px;
    height: auto;
    background-color: white;
    position: fixed;
    z-index: 100;
}

.header-container-home {
    width: 100%;
    margin: 0;
    padding: 15px;
    height: auto;
    background-color: white;
    position: fixed;
    z-index: 100;
}

.header-container_nav-container {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-around;
}

.header-container_nav-container_ul {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    width: 100%;
    height: auto;

}

.header-container_nav-container_ul_li {
    list-style: none;
}

.header-container_nav-container_logo {
    width: 40px;
    height: auto;
}

.main-container {
    margin: 0;
    padding: 5%;
    height: 100vh;
    width: 100vw;
    background: url("../../bg_container.jpg") -200px -250px no-repeat;
    overflow-x: hidden;
    /* filter: blur(4px); */
}

.main-container-home {
    margin: 0;
    padding: 5%;
    height: 100vh;
    width: 100vw;
    background-color: aliceblue;
    overflow-x: hidden;
}

.btn--dropdown {
    padding: 3px;
    border: none;
    width: 160px;
    border-radius: 15px;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.text {
    align-self: center;
    margin-left: 5px;
}

.btn--dropdown:hover {
    background-color: aliceblue;
}

.header-container_nav-container_dropdown_img-top,
.header-container_nav-container_dropdown_img-bottom {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.header-container_nav-container_dropdown_img-top {
    margin-bottom: 10px;
}

.header-container_nav-container_dropdown_ul_li {
    list-style: none;
}

.header-container_nav-container_dropdown_ul_li_form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
    padding-top: 20px;
}

.header-container_nav-container_dropdown {
    position: absolute;
    bottom: -305px;
    width: 350px;
    background-color: white;
    height: 300px;
    right: 0;
    border-radius: 20px;
    z-index: 150;
    padding: 15px;
}

.main-container_form_div-second-part_radio-div {
    background-color: #39b900;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    border-radius: 20px;
}

label.radio {
    margin-left: 15px;
    font-size: 1.15em;
}

input[type="radio"] {
    width: 1.15em;
    height: 1.15em;
    align-self: center;
}

.header-container_nav-container_ul_li {
    font-weight: bold;
    font-size: .9375rem;
    cursor: pointer;
}

.btn--green-outlined {
    margin: 0 !important;
    background-color: transparent;
    box-shadow: inset 0 0 0 1px #39b900;
    color: #39b900;
    text-decoration: none;
    font-size: 15px;
    padding: 2px;
    padding-left: 8px;

}

.btn {
    border: none;
    width: 120px;
    border-radius: 20px;
}

.main-container_div-logo_img {
    aspect-ratio: auto 290 / 90;
}

.main-container_div-logo {
    width: 100%;
    display: flex;
    margin: 30px auto;
    padding: 40px auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-container_div-logo_h1-slogan {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: aliceblue;
    letter-spacing: 3px;
    word-spacing: 4px;
    font-weight: 600;
}

.btn--green-filled {
    background-color: #39b900;
    width: 350px;
    margin: 10px auto;
    font-size: large;
    color: aliceblue;
    padding: 10px;
    border-radius: 25px;
}

.btn--green-filled:hover,
.btn--green-outlined:hover {
    filter: brightness(75%);
}

.main-container_form_div-first-part,
.main-container_form_div-second-part,
.main-container_form_div-third-part,
.main-container_form_div-fourth-part,
.main-container_form_div-fifth-part,
.main-container_form_div-seventh-part,
.main-container_form_div-sixth-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container_div-bot_img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: 20px;
}

.main-container_div-bot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 15px 0;
}

.main-container_div-bot_div-column,
.main-container_div-bot_div-column-show-ok {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 60px;
    width: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 20px;
    padding: 10px;
    font-weight: bold;
}

.main-container_div-bot_column-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: start; */
}

.main-container_div-bot_div-column-height-plus {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100px;
    width: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 20px;
    padding: 10px;
    font-weight: bold;
}

.main-container_div-bot_div-column-height-max {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    height: 125px;
    width: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 20px;
    padding: 10px;
    font-weight: bold;
}

.main-container_div-bot_div-column_span {
    color: #ed147d;
}

.main-container_div-bot_div-column_span--green {
    color: #39b900;
}

.margin-top {
    margin-top: 20px;
}

.main-container_form_div-third-part_row,
.main-container_form_div-fourth-part_row,
.main-container_form_div-fifth-part_row {
    display: flex;
    flex-direction: row;
}

.btn--next {
    background-color: #39b900;
    padding: 10px;
    height: 50px;
    width: 62px;
    border-radius: 10px;
}

.next-step {
    position: relative;
    height: 50px;
    width: 62px;
    top: -10px;
    left: -10px;
}

.date-select {
    height: 50px;
    width: 89px;
    margin: 0 10px;
    border-radius: 10px;
    border: none;
}

.date-select:focus-visible,
.input-city:focus-visible,
.input-firstname:focus-visible {
    border: 3px solid #ed147d;
    outline: none;
}

.part {
    margin: 20px 0;
}

.input-city,
.input-firstname {
    padding: 8px;
    border: none;
    border-radius: 10px;
    margin: 0 15px;
    height: 50px;
    width: 300px;
}

.card-p-id {
    display: none;
    visibility: hidden;
}

.form-profil {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    border-radius: 20px;
    height: 400px;
    width: 300px;
    /* position: absolute;
    top: 20%;
    left:37%; */
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container-home_div-filtre {
    width: 300px;
    height: 100%;
    background-color: white;
    position: fixed;
    left: 0;
    margin-top: -3px;
    padding: 20px;
    border: 1px solid #ed147d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.field-hobbie {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px;
}

li {
    padding: 5px;
}